.footer {
    position: absolute;
    bottom: -107%;
    left: 15px;
}
.footer-body > div{
    display: inline-block;
}
.footer-body > div img{
    width: 100%;
}
.footer-body > div:nth-child(2) img{
    margin-left: -13% !important;
}

.footer-body >  p{
    font-weight: bold;
    font-size: 20px;
}
.footer-body >  p:nth-child(4){
    margin-right: 105px;
}
.footer-body >  p:nth-child(6){
    color: #47CFE3;
    font-weight: normal;
}
.tail{
    height: 75px;
    margin-top: 13px;
    margin-left: -70px;
}
.tail p{
    font-weight: bold;
}
.tail img{
    height: 21px;
}