.nav-bar {
    background-color: #fff;
    position: absolute;
    width:100%;
    height: 90px;
}
.nav-bar img[src = 'Bitmap.png'] {
    width: 19%;
    margin-left: 15%;

}
.nav-bar img[src = 'Bitmap-1.png']{
    width:35%;
    margin-left:10%;
}
.nav-bar-info{
    
    align-items: baseline;
}
.container{
    width:90% !important;
    margin: auto !important;
}